@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <img id="mylogo" src="~/Content/Images/logo1.jpg" alt="logo" class="logo" />
        <h1 class="display-6">Phofu Car Pedal Locks</h1>
        <h2 class="display-4">Secure Your Car From Theft</h2>
        <img src='@Url.Content("~/Images/logo.jpg")' />
        <img src="Images/Photo1.jpg" alt="Sample Photo" />
        <img src="C:\Users\matea\Desktop\VS_Phofu\PhofuLocks\PhofuLocks\Content\Images\logo1.jpg" />
        <img src="../Content/<%=Eval("logo.jpg")% />"/>

    </div>
