@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Phofu Car Pedal Locks</h1>
    <h2 class="display-4">Secure Your Car From Theft</h2>
    <a><img src="~/Images/logo.jpg" /> </a>

    

    <img src="images/Capture.JPG" alt="" height="400" width="1100">
    <br />
    <br />
    <h4>About</h4>
    <p>
        Phofu Car Pedal Locks is a company that  manufactures car pedal locks for manual and automatic cars. Our locks are portable, user friendly and convenient.
    </p>

</div>


