@{
    ViewData["Title"] = "Orders";
}
<h1>@ViewData["Title"]</h1>

<h2> <a href="@Url.Action("create","Cars")">Place your order</a></h2>
<h3> <a href="@Url.Action("Order","Home")">View current orders</a></h3>
<h3> <a href="@Url.Action("Order","Home")">Order history</a></h3>
